@model IEnumerable<VSAS.Models.VehicleDetail>

@{
    ViewData["Title"] = "Index";
    var contactnumber = "";
    if (!Model.Any())
    {
         contactnumber = ViewBag.ContactNumberList;
    }
            else
            {
                 contactnumber = TempData.Peek("ContactNumber").ToString();
            }
    //var contactnumber = TempData.Peek("ContactNumber").ToString();
    //var contactnumber = ViewBag.ContactNumberList;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" id="createNew">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Contact Number</th>
            <th>Registration Number</th>
            <th>Chassis Number</th>
            <th>Engine Number </th>
            <th> Make</th>
            <th> Make Month</th>
            <th> Make Year</th>
            <th>Purchase Date</th>
            <th>Current Odometer Reading  </th>
            <th>Created Date </th>
            <th>Updated Date</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="10" align="center">No Vehicle details available</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@contactnumber</td>
                    <td>@item.VehicleRegNumber</td>
                    <td>@item.ChassisNumber</td>
                    <td>@item.EngineNumber</td>
                    <td>@item.Make</td>
                    <td>@item.MakeMonth</td>
                    <td>@item.MakeYear</td>
                    <td>@item.PurchaseDate</td>
                    <td>@item.CurrentOdometerReading </td>
                    <td>@item.CreatedDate </td>
                    <td>@item.UpdatedDate </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
