@model IEnumerable<VSAS.Models.VehicleServiceHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.Any())
{
    <div>
        <a href="#" class="alert-success">Notification Successfully Sent to Service Due Vehicle Owner</a>
    </div>
}

<div>
    <a asp-action="Create" id="createNew">Create New</a>
</div>

<div>
    <a href="#">Process Notification</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OdometerReading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDoneDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDealerDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextServiceDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OdometerReading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDoneDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDealerDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextServiceDueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.ChassisNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceHistoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceHistoryId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
